.notes {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.trainer {
    color: rgb(255, 45, 192);
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.settings {
    grid-column: span 3;
    text-align: center;
}

.recent-notes-container {
    grid-column: span 2;
    color: rgb(153, 153, 153);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#recent-notes {
    margin-right: 20px;
}