main {

  flex: 1;
}

body {
  background: linear-gradient(to bottom right, #b3c6ff, #6e7b8b);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



.main-header {
  background: linear-gradient(135deg,  #333333,#555555);
  display: flex;
  align-items: center;
}

.left-side {
  display: flex;
  align-items: center;
}

.logo {
  height: 100px;
  width: 100px;
}

.header-title {
  font-size: 50px;
  margin: 0;
  color: #fff;
  margin-left: 30px;
}

.header-name {
  margin-left: 15px;
  font-size: 70px;
  animation: rainbow 10s infinite;
}

.right-side {
    width: 50%;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-side nav {
    width: auto;
    display: flex;
    justify-content: flex-end;
}

.right-side a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
    display: inline-block;
    word-wrap: break-word;
    padding: 0 10px;
    text-align: center;
}

a {
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s ease;
}

a:hover {
  color: #0056b3;
}

.left-background {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.right-background {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0px;
}

.background-image {
  opacity: 0.7;
  margin-top: 20px;
  height: 333px;
  border-radius: 20px;
}


.left-section {
  background-color: rgb(0,0,0, 0.2);
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 20px;
  padding: 50px;
  border: 3px dashed rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  box-sizing: border-box;
  text-align: center;
  text-align: center;
}

.left-section ul {
  list-style: none;
  padding: 0;
}



.github-link:hover {
  background-color: #555;
  transform: scale(1.05);
}


.left-section li {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.left-section strong {
  display: block;
  font-weight: bold;
}

.github-link {
  font-size: 25px;
  display: block;
  width: 250px;
  padding: 20px;
  margin: 20px auto;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border: 2px solid #333;
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.3s;
}

.github-link:hover {
  background-color: #fff;
  color: #000;
  border-color: #000;
  transform: scale(1.1);
}

.member-link {
  margin: 0;
  font-size: 20px;
  text-decoration: none;
  color: #006fd6;
  transition: color 0.3s, font-size 0.3s;
}

.member-link:hover {
  color: #ff0;
  font-size: 25px;
}

.contact-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: 2px solid #333;
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.3s;
}

.contact-button:hover {
  color: rgb(0, 0, 0);
  background-color: #67b0ff;
  transform: scale(1.1);
  border-color: #000;
}


.section-title {
  font-size: 50px;
  font-weight: bold;
  color: #8fff33;
  padding: 10px 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-text-stroke: 1px black;
}



.project-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  list-style: none;
}

.project-item {
  text-align: center;
}


.project-img {
  height: 450px;
  width: 450px;
}





footer {
  margin-top: auto;
  height: 40px;
  background: linear-gradient(135deg,  #333333,#555555);
  color: white;
  text-align: center;
}


@keyframes rainbow {
  0% { text-shadow: 0px 0px 10px rgb(255, 0, 0); }
  25% { text-shadow: 0px 0px 10px rgb(255, 255, 0); }
  50% { text-shadow: 0px 0px 10px rgb(0, 255, 0); }
  75% { text-shadow: 0px 0px 10px rgb(0, 0, 255); }
  100% { text-shadow: 0px 0px 10px rgb(255, 0, 255); }
}
