body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #151515;
    color: #fff; 
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#odliczanie {
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-shadow: 0 0 10px #90EE90;
}

.licznik {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 5em;
}

.separator {
    margin: 0 15px;
    text-shadow: 0 0 5px #90EE90;
}

@keyframes colorChange {
    0% {
        box-shadow: 0 0 20px rgba(255, 0, 0, 0.8);
        border-color: rgba(255, 0, 0, 0.8);
    }
    14% {
        box-shadow: 0 0 20px rgba(255, 165, 0, 0.8);
        border-color: rgba(255, 165, 0, 0.8);
    }
    28% {
        box-shadow: 0 0 20px rgba(255, 255, 0, 0.8);
        border-color: rgba(255, 255, 0, 0.8);
    }
    42% {
        box-shadow: 0 0 20px rgba(0, 128, 0, 0.8);
        border-color: rgba(0, 128, 0, 0.8);
    }
    56% {
        box-shadow: 0 0 20px rgba(0, 0, 255, 0.8);
        border-color: rgba(0, 0, 255, 0.8);
    }
    70% {
        box-shadow: 0 0 20px rgba(75, 0, 130, 0.8);
        border-color: rgba(75, 0, 130, 0.8);
    }
    84% {
        box-shadow: 0 0 20px rgba(238, 130, 238, 0.8);
        border-color: rgba(238, 130, 238, 0.8);
    }
    100% {
        box-shadow: 0 0 20px rgba(255, 0, 0, 0.8);
        border-color: rgba(255, 0, 0, 0.8);
    }
}

#dni, #godziny, #minuty, #sekundy {
    padding: 15px 20px;
    background-color: #333;
    border: 3px solid rgba(255, 0, 0, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.8);
    animation: colorChange 8s infinite;
}
