.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#noteButtonsContainer button.selected {
  background-color: #007bff;
  color: #fff;
}


.octave-container {
  margin-bottom: 20px;
}

.octave-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.note-buttons {
  display: flex;
  flex-wrap: wrap;
}

.note-buttons button {
  margin-right: 5px;
  margin-bottom: 5px;
}

.space {
  width: 50px;
}

