.dark-mode {
    background-color: #121212;  
    color: #f1f1f1;
}

#mode-toggle {
    position: absolute;
    top: 1vh;
    right: 0.5vw;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#mode-icon {
    font-size: 5vh;
    color: #f1f1f1;
    transition: color 0.3s ease;
}
