* {
    font-family: "Chakra Petch", sans-serif;
}

body {
    background-color: #ffffef;
    color: #0f0f0f;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    transition: background-color 0.3s ease, color 0.3s ease;
}



/* body>div {
    border: solid 1px rgb(119, 119, 119);
} */

.display-notes {
    /* margin-left: 500px; */
    height: 30px;
    width: 70px;
}

.note-button {
    background-color: gray;
    color: #fff;
    padding: 10px 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.note-button.selected {
    background-color: #28a745;
}


.settings {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#intervalInput {
    font-size: 15px;
    height: 25px;
    width: 70px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}

.notes-to-play {
    font-weight: bold;
    color: grey;
    grid-column: span 3;
    font-size: 2vw;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.current-note {
    color: rgb(255, 86, 255);
    font-size: 100px;
    text-align: center;
}


.previous-notes {
    grid-column: span 2;
    text-align: right;
}

.next-notes {
    text-align: left;
}

.settings .menu,
.display-notes {
    height: 30px;
    width: 40%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu:hover,
.display-notes:hover {
    background-color: #0056b3;
}


.display-notes:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

.display-notes:not(:disabled):hover {
    background-color: #0056b3;
}


input[disabled] {
    background-color: #a0a0a0;
    color: #000000;
}

label.custom-checkbox {
    font-size: 2vh;
}