* {
    font-family: "Chakra Petch", sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
    background-color: #ffffd8;
    color: #0f0f0f;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    transition: background-color 0.3s ease, color 0.3s ease;
}




/* body>div {
    border: solid 1px rgb(119, 119, 119);
} */

.display-notes {
    /* margin-left: 500px; */
    height: 30px;
    width: 70px;
}

.note-button {
    background-color: gray;
    color: #fff;
    padding: 10px 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.note-button.selected {
    background-color: #28a745;
    transition: background-color 0.3s ease;
}

.note-button.selected:hover {
    background-color: #1d7a33;
}

.note-button:hover {
    background-color: #555;
}

.sharp-symbol {
    vertical-align: top;
    font-size: 70%;
}


.settings {
    position: fixed;
    text-align: center;
    right: -20vw;
    top: 50%;
    transform: translateY(-50%);
    width: 20vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    transition: right 0.3s ease;
}

.settings:not(.show-settings) {
    right: -20vw;
}

.settings.show-settings {
    right: 0;
}




@media only screen and (min-width: 768px) {
    .settings {
        top: 50%;
        transform: translateY(-50%);
    }

}

#intervalInput {
    font-size: 15px;
    height: 25px;
    width: 70px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}

.tuner {
    grid-column: span 0;
}

.notes-to-play {
    font-weight: bold;
    color: grey;
    grid-column: span 5;
    font-size: 2vw;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.current-note {
    color: rgb(255, 86, 255);
    font-size: 100px;
    text-align: center;
}


.previous-notes {
    text-align: right;
}

.next-notes {
    text-align: left;
}

.settings .menu,
.display-notes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    height: 30px;
    width: 40%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.start-stop {
    grid-column: span 2;
    /* margin-top: 30vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.start-stop>button {
    width: 50%;
    margin-bottom: 10px;
}


.menu:hover,
.display-notes:hover {
    background-color: #0056b3;
}


.display-notes:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

.display-notes:not(:disabled):hover {
    background-color: #0056b3;
}


input[disabled] {
    background-color: #a0a0a0;
    color: #000000;
}

label.custom-checkbox {
    font-size: 2vh;
}